<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for StyleCop.Analyzers" Description="Code analysis rules for StyleCop.Analyzers.csproj." ToolsVersion="17.0">
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.NetAnalyzers" RuleNamespace="Microsoft.CodeAnalysis.CSharp.NetAnalyzers">
    <Rule Id="CA1001" Action="None" />
    <Rule Id="CA1309" Action="None" />
    <Rule Id="CA1824" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.NetAnalyzers" RuleNamespace="Microsoft.CodeAnalysis.NetAnalyzers">
    <Rule Id="CA1000" Action="None" />
    <Rule Id="CA1010" Action="None" />
    <Rule Id="CA1016" Action="None" />
    <Rule Id="CA1018" Action="None" />
    <Rule Id="CA1036" Action="None" />
    <Rule Id="CA1041" Action="None" />
    <Rule Id="CA1050" Action="None" />
    <Rule Id="CA1051" Action="None" />
    <Rule Id="CA1061" Action="None" />
    <Rule Id="CA1304" Action="None" />
    <Rule Id="CA1305" Action="None" />
    <Rule Id="CA1401" Action="None" />
    <Rule Id="CA1707" Action="None" />
    <Rule Id="CA1708" Action="None" />
    <Rule Id="CA1710" Action="None" />
    <Rule Id="CA1711" Action="None" />
    <Rule Id="CA1712" Action="None" />
    <Rule Id="CA1715" Action="None" />
    <Rule Id="CA1716" Action="None" />
    <Rule Id="CA1720" Action="None" />
    <Rule Id="CA1725" Action="None" />
    <Rule Id="CA1806" Action="None" />
    <Rule Id="CA1816" Action="None" />
    <Rule Id="CA1821" Action="None" />
    <Rule Id="CA1822" Action="None" />
    <Rule Id="CA2101" Action="None" />
    <Rule Id="CA2200" Action="None" />
    <Rule Id="CA2201" Action="None" />
    <Rule Id="CA2208" Action="None" />
    <Rule Id="CA2211" Action="None" />
    <Rule Id="CA2219" Action="None" />
    <Rule Id="CA2229" Action="None" />
    <Rule Id="CA2231" Action="None" />
    <Rule Id="CA2242" Action="None" />
  </Rules>
</RuleSet>